<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1565972476522-4338522b1929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80);">
  <div class="container">
    <h1>Welcome to Soap Opera, the Handmade Soap Marketplace!</h1>
    <h4 class="mt-2">Buy and sell handmade soaps</h4>
    <!-- <%= link_to "Log In", soaps_path, { class: "btn btn-lg btn-primary mt-3 ml-3" } %> -->
    <%= link_to "Discover", soaps_path, { class: "btn btn-lg btn-primary mt-3 ml-3" } %>
  </div>
</div>
