<div class="row justify-content-center text-center mt-5">
  <div class="col-md-6">
      <h1>Welcome to the Handmade Soap Marketplace!</h1>
      <%= link_to "Discover", soaps_path, { class: "btn btn-primary mt-3" } %>
  </div>
</div>
