<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1565972476522-4338522b1929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80);">
  <div class="container">
    <h1>Welcome to Soap Opera, the Handmade Soap Marketplace!</h1>
    <h4 class="mt-2">Buy and sell handmade soaps</h4>
    <!-- <%= link_to "Log In", soaps_path, { class: "btn btn-lg btn-primary mt-3 ml-3" } %> -->
    <%= link_to "Discover", soaps_path, { class: "btn btn-lg btn-primary mt-3 ml-3" } %>
  </div>
</div>


<div class="parallax" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508759073847-9ca702cec7d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="caption">
    <h2 class="pb-3">Why Soap Opera?</h2>
    <h5>Washing our hands multiple times a day is a very common practice, but have you ever wondered what is the composition of the soap you use?</p>
    <h5>Welcome to the marketplace that gives you access to the finest handmade soaps, good for your health, good for the planet!</p>
  </div>
</div>


<div class="parallax" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1569715442753-2eef87d75db3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="caption">
    <h2>A collaborative platform</h2>
    <div class="d-flex justify-content-center">
      <div>
        <span style="font-size: 48px; color: #94BBE9">
          <i class="fas fa-cart-plus pb-4"></i>
        </span>
        <h5 class="pl-5 pr-5">Here, you can sell the soaps you make at home. We allow only products handmade with the purest ingredients. Let your creativity shine!</h5>
      </div>
      <div>
        <span style="font-size: 48px; color: #94BBE9">
          <i class="fas fa-leaf pb-4"></i>
        </span>
        <h5 class="pl-5 pr-5">You were wondering where to find soaps respectfull of the planet and your health? Who knew someone around you was selling some?</h5>
      </div>
    </div>
    <%= link_to "Join Soap Opera!", soaps_path, { class: "btn btn-lg btn-primary mt-4" } %>
  </div>
</div>
