.card-show {
  width: 50vw;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
